{% load static %}

{% include "chat/chat_base.html" %}

{% block chat_body %}
<div class="chat-main">

    <div class="chat-body-header">
        <a class="flex-row center" href="#">
            <img class="profile-pic-round" style="width: 45px; margin-right: 10px;"
                                        src="{% static 'core/fake_face2.jpeg' %}">
            <h5 style="margin: 0;">Ibrahim</h5>
        </a>
    </div>
    
    <div class="chat-body">
        <div class="chat-date">Today</div>
        <div class="message sent">
            hey old, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message recieved">
            hey new, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message sent">
            hey old, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message recieved">
            hey new, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message sent">
            hey old, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message recieved">
            hey new, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message sent">
            hey old, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message recieved">
            hey new, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message sent">
            hey old, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message recieved">
            hey new, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message sent">
            hey old, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message recieved">
            hey new, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message sent">
            hey old, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message recieved">
            hey new, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message sent">
            hey old, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
        <div class="message recieved">
            hey new, how are you? I hope you're having a beautiful day. I'm currently listening to kendrick lamar
        </div>
    </div>
    <div class="chat-body-footer">
        <form action="">
            <input type="text" name="" id="">
        </form>

    </div>


</div>
{% endblock %}