{% extends "core/list_base.html" %}

{% block list_header_info %}
    <div class="list-info">
        <div class="list-user-info">
            <a class="flex-row center" style="line-height: normal;" href="/{{ list.user.username }}">
                {% if user.is_authenticated and list.user.username == user.username %}
                    Your
                {% else %}
                <img class="profile-pic-round" style="width: 20px; margin-right: 7.5px;"
                        src="{{ list.user.profile.profile_image.url }}">
                        {{ list.user.profile.name }}'s
                {% endif %}
            </a>
        </div>
        <h1 class="list-title" style="margin-top: 0;">Watchlist</h1>
    </div>
{% endblock list_header_info %}

{% block description %}
    <p class="list-description">{% if user.username == list.user.username %}You want{% else %}{{ list.user.profile.name }} wants{% endif %} to watch {{ list.count }} film{{ list.count|pluralize }}.</p>
{% endblock description %}